<section class="join-usc join-us">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Promote your services</h3>
                <p>Our growing team contains technology experts and functional passionate people. We will publish opportunities on this page whenever we have openings.</p>
                <p>You can still upload your CV through this page along with a short description of yourself and we will get back to you. </p>
                <ul>
                    <li><a href="tel:0235 4568 6568"><i class="fa fa-phone" aria-hidden="true"></i>0235 4568 6568</a></li>
                    <li><a href="mailto:softchaos@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i>softchaos@gmail.com</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <img src="assets/images/join-us.png">
            </div>
        </div>
    </div>
</section>
<section class="join-us-form ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form>
                    <h4>Contact details:</h4>
                    <div class="row">
                        <div class="col">
                            <label>Name of contact person</label>
                            <input type="text" class="form-control" placeholder="Name of contact person">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Title and role</label>
                            <input type="text" class="form-control" placeholder="Title and role">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Email</label>
                            <input type="text" class="form-control" placeholder="Email">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Mobile number</label>
                            <input type="text" class="form-control" placeholder="Mobile number">
                        </div>
                    </div>
                    <h4>Organization details:</h4>
                    <div class="row">
                        <div class="col">
                            <label>Organization industry</label>
                            <input type="text" class="form-control" placeholder="Organization industry">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Location</label>
                            <input type="text" class="form-control" placeholder="Location">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Services provided</label>
                            <input type="text" class="form-control" placeholder="Services provided">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Upload documents</label>
                            <ngx-dropzone (change)="onSelect($event)">
                                <ngx-dropzone-label>Drop here!</ngx-dropzone-label>
                                <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)" class="drop-doc">
                                    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                </ngx-dropzone-preview>
                            </ngx-dropzone>
                            <!-- <div class="upload-dox">
                                <input type="file" id="myFile" name="filename">
                                <img src="assets/images/upload.png">
                                <p>Drag and Drop your file in the area or <span>Browse Filles</span></p>
                            </div> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="submit">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
