<section class="join-usc join-us">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Promote your services</h3>
                
                <p>We are continuously looking into adding more locations and supporting more destinations.
                </p>
                <p>Helps us promote new destinations by filling the below details. Our team will assess the request and we will reach out to you shortly.</p>
                <!-- <ul>
                    <li><a href="tel:0235 4568 6568"><i class="fa fa-phone" aria-hidden="true"></i>0235 4568 6568</a></li>
                    <li><a href="mailto:softchaos@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i>softchaos@gmail.com</a></li>
                </ul> -->
            </div>
            <div class="col-md-6">
                <img src="assets/images/join-us.png">
            </div>
        </div>
    </div>
</section>
<section class="join-us-form ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="joinUsForm" (submit)="submit()">
                    <h4>Contact details:</h4>
                    <div class="row">
                        <div class="col">
                            <label>Name of contact person</label>
                            <input type="text" [ngClass]="{'input-error': (joinUsForm.controls['name']['invalid'] && joinUsForm.controls['name'].touched )}" formControlName="name" class="form-control" placeholder="Name of contact person">
                            <div *ngIf="joinUsForm.controls['name'].touched && joinUsForm.controls['name'].invalid" class="error2">
                                <span *ngIf="joinUsForm.controls['name'].hasError('required')">Name is required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Title and role</label>
                            <input type="text" [ngClass]="{'input-error': (joinUsForm.controls['titleAndRole']['invalid'] && joinUsForm.controls['titleAndRole'].touched )}" formControlName="titleAndRole" class="form-control" placeholder="Title and role">
                            <div *ngIf="joinUsForm.controls['titleAndRole'].touched && joinUsForm.controls['titleAndRole'].invalid" class="error2">
                                <span *ngIf="joinUsForm.controls['titleAndRole'].hasError('required')">Title and role is required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Email</label>
                            <input type="text" [ngClass]="{'input-error': (joinUsForm.controls['email']['invalid'] && joinUsForm.controls['email'].touched )}" formControlName="email" class="form-control" placeholder="Email">
                            <div *ngIf="joinUsForm.controls['email'].touched && joinUsForm.controls['email'].invalid" class="error2">
                                <span *ngIf="joinUsForm.controls['email'].hasError('required')">Email is required.</span>
                                <span *ngIf="joinUsForm.controls['email'].hasError('email')">Invalid Email.</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Mobile number</label>
                            <input type="number" class="form-control" [ngClass]="{'input-error': (joinUsForm.controls['phone']['invalid'] && joinUsForm.controls['phone'].touched )}" formControlName="phone" placeholder="Mobile number">
                            <div *ngIf="joinUsForm.controls['phone'].touched && joinUsForm.controls['phone'].invalid" class="error2">
                                <span *ngIf="joinUsForm.controls['phone'].hasError('required')">phone is required.</span>
                            </div>
                        </div>
                    </div>
                    <h4>Organization details:</h4>
                    <div class="row">
                        <div class="col">
                            <label>Organization industry</label>
                            <input type="text" [ngClass]="{'input-error': (joinUsForm.controls['orgInd']['invalid'] && joinUsForm.controls['orgInd'].touched )}" formControlName="orgInd" class="form-control" placeholder="Organization industry">
                            <div *ngIf="joinUsForm.controls['orgInd'].touched && joinUsForm.controls['orgInd'].invalid" class="error2">
                                <span *ngIf="joinUsForm.controls['orgInd'].hasError('required')">Organization industry is required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Location</label>
                            <input type="text" class="form-control" placeholder="Location" formControlName="loc">
                            <div *ngIf="joinUsForm.controls['loc'].touched && joinUsForm.controls['loc'].invalid" class="error2">
                                <span *ngIf="joinUsForm.controls['loc'].hasError('required')">Location is required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Services provided</label>
                            <input type="text" class="form-control" placeholder="Services provided" formControlName="servicesProvided">
                            <div *ngIf="joinUsForm.controls['servicesProvided'].touched && joinUsForm.controls['servicesProvided'].invalid" class="error2">
                                <span *ngIf="joinUsForm.controls['servicesProvided'].hasError('required')">Services Provided is required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Upload documents</label>
                            <ngx-dropzone (change)="onSelect($event)">
                                <ngx-dropzone-label>Drop here!</ngx-dropzone-label>
                                <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)" class="drop-doc">
                                    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                </ngx-dropzone-preview>
                            </ngx-dropzone>
                            <!-- <div class="upload-dox">
                                <input type="file" id="myFile" name="filename">
                                <img src="assets/images/upload.png">
                                <p>Drag and Drop your file in the area or <span>Browse Filles</span></p>
                            </div> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="submit">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>