<section class="join-usc join-us">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Promote your services</h3>

                <p>
                    We are always keen on extending the user's experience to new sites and locations. As part of our values is to support local communities we are keen on enriching our partners' network.
                </p>
                <!-- <p>Helps us promote new destinations by filling the below details. Our team will assess the request and we will reach out to you shortly.</p> -->
                <!-- <ul>
                    <li><a href="tel:0235 4568 6568"><i class="fa fa-phone" aria-hidden="true"></i>0235 4568 6568</a></li>
                    <li><a href="mailto:softchaos@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i>softchaos@gmail.com</a></li>
                </ul> -->
            </div>
            <div class="col-md-6">
                <img src="assets/images/join-us.png">
            </div>
        </div>
    </div>
</section>
<section class="join-us-form ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="joinUsForm" (submit)="submit()">
                    <h4>Contact details:</h4>
                    <div class="row">
                        <div class="col">
                            <label>Name of contact person</label>
                            <input type="text" [ngClass]="{'input-error': (joinUsForm.controls['name']['invalid'] && joinUsForm.controls['name'].touched )}" formControlName="name" class="form-control" placeholder="Name of contact person" appTextOnly>
                            <div *ngIf="joinUsForm.controls['name'].touched && joinUsForm.controls['name'].invalid" class="error2">
                                <span *ngIf="joinUsForm.controls['name'].hasError('required')">Name is required.</span>
                                <span *ngIf="joinUsForm.controls['name'].hasError('validationError')">{{joinUsForm.controls['name'].errors?.['validationError']}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Title and role</label>
                            <input type="text" [ngClass]="{'input-error': (joinUsForm.controls['title']['invalid'] && joinUsForm.controls['title'].touched )}" formControlName="title" class="form-control" placeholder="Title and role">
                            <div *ngIf="joinUsForm.controls['title'].touched && joinUsForm.controls['title'].invalid" class="error2">
                                <span *ngIf="joinUsForm.controls['title'].hasError('required')">Title and role is required.</span>
                                <span *ngIf="joinUsForm.controls['title'].hasError('validationError')">{{joinUsForm.controls['title'].errors?.['validationError']}}</span>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Email</label>
                            <input type="text" [ngClass]="{'input-error': (joinUsForm.controls['email']['invalid'] && joinUsForm.controls['email'].touched )}" formControlName="email" class="form-control" placeholder="Email">
                            <div *ngIf="joinUsForm.controls['email'].touched && joinUsForm.controls['email'].invalid" class="error2">
                                <span *ngIf="joinUsForm.controls['email'].hasError('required')">Email is required.</span>
                                <span *ngIf="joinUsForm.controls['email'].hasError('email')">Invalid Email.</span>
                                <span *ngIf="joinUsForm.controls['email'].hasError('validationError')">{{joinUsForm.controls['email'].errors?.['validationError']}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Mobile number</label>
                            <input type="number" class="form-control" [ngClass]="{'input-error': (joinUsForm.controls['mobile_number']['invalid'] && joinUsForm.controls['mobile_number'].touched )}" formControlName="mobile_number" placeholder="Mobile number">
                            <div *ngIf="joinUsForm.controls['mobile_number'].touched && joinUsForm.controls['mobile_number'].invalid" class="error2">
                                <span *ngIf="joinUsForm.controls['mobile_number'].hasError('required')">phone is required.</span>
                                <span *ngIf="joinUsForm.controls['mobile_number'].hasError('validationError')">{{joinUsForm.controls['mobile_number'].errors?.['validationError']}}</span>

                            </div>
                        </div>
                    </div>
                    <h4>Organization details:</h4>
                    <div class="row">
                        <div class="col">
                            <label>Organization industry</label>
                            <input type="text" [ngClass]="{'input-error': (joinUsForm.controls['organization_industry']['invalid'] && joinUsForm.controls['organization_industry'].touched )}" formControlName="organization_industry" class="form-control" placeholder="Organization industry"
                                appTextOnly>
                            <div *ngIf="joinUsForm.controls['organization_industry'].touched && joinUsForm.controls['organization_industry'].invalid" class="error2">
                                <span *ngIf="joinUsForm.controls['organization_industry'].hasError('required')">Organization industry is required.</span>
                                <span *ngIf="joinUsForm.controls['organization_industry'].hasError('validationError')">{{joinUsForm.controls['organization_industry'].errors?.['validationError']}}</span>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Location</label>
                            <input type="text" class="form-control" placeholder="Location" formControlName="location">
                            <div *ngIf="joinUsForm.controls['location'].touched && joinUsForm.controls['location'].invalid" class="error2">
                                <span *ngIf="joinUsForm.controls['location'].hasError('required')">Location is required.</span>
                                <span *ngIf="joinUsForm.controls['location'].hasError('validationError')">{{joinUsForm.controls['location'].errors?.['validationError']}}</span>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Services provided</label>
                            <input type="text" class="form-control" placeholder="Services provided" formControlName="service_provided">
                            <div *ngIf="joinUsForm.controls['service_provided'].touched && joinUsForm.controls['service_provided'].invalid" class="error2">
                                <span *ngIf="joinUsForm.controls['service_provided'].hasError('required')">Services Provided is required.</span>
                                <span *ngIf="joinUsForm.controls['service_provided'].hasError('validationError')">{{joinUsForm.controls['service_provided'].errors?.['validationError']}}</span>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Upload documents</label>
                            <ngx-dropzone (change)="onSelect($event)">
                                <ngx-dropzone-label>Drop here!</ngx-dropzone-label>
                                <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)" class="drop-doc">
                                    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                </ngx-dropzone-preview>
                            </ngx-dropzone>
                            <!-- <div class="upload-dox">
                                <input type="file" id="myFile" name="filename">
                                <img src="assets/images/upload.png">
                                <p>Drag and Drop your file in the area or <span>Browse Filles</span></p>
                            </div> -->
                            <div *ngIf="fileSubmitted" class="error2">
                                <span *ngIf="!files.length && !joinUsForm.controls['document'].hasError('validationError')">File is required.</span>
                                <span *ngIf="joinUsForm.controls['document'].hasError('validationError')">{{joinUsForm.controls['document'].errors?.['validationError']}}</span>

                            </div>v>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-submit" [disabled]="this.joinUsForm.invalid">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
