<section class="banner tour">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-4">
                <div class="banner-text" data-aos="fade-up"
                data-aos-duration="3000">
                    <small>India</small>
                    <h3>Taj Mahal</h3>
                    <img src="assets/images/Vector (1).png">
                    <p>Chaos becomes manageable when you sign up for a seamless virtual tour experience. Whether you desire to visit the Taj Mahal in India or Eifel Tower in Paris we have the product to give you breath-taking views and provide a unique traveling
                        perspective. Are you ready to experience the unimaginable?
                    </p>
                    <div class="explore-btn-section">
                        <button class="mat-ripple mt-4"(click)="goToBooking()" tabindex="-1"  routerLink="/about-us">Book Now 
                            <img src="assets/images/card-images/right-arrow.png" class="btn-arrow-img">
                        </button>
                        <span><del>$100.00<br></del><strong>$120.00</strong></span>
                    </div>
                    <!-- <a href="javascript:void(0)" (click)="goToBooking()">Book Now<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    </a> -->
                    
                </div>
            </div>
            <div class="col-md-6" data-aos="fade-up"
            data-aos-duration="3000">
                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfigSec">
                    <ng-container *ngIf="requestingServerForBannerText">
                        <div ngxSlickItem class=" block">
                            <app-skeleton-loader [anotherStructure]="'tourBanner'"></app-skeleton-loader>
                        </div>
                        <div ngxSlickItem class=" block">
                            <app-skeleton-loader [anotherStructure]="'tourBanner'"></app-skeleton-loader>
                        </div>
                        <div ngxSlickItem class=" block">
                            <app-skeleton-loader [anotherStructure]="'tourBanner'"></app-skeleton-loader>
                        </div>
                    </ng-container>
                    <div ngxSlickItem class="slide" *ngFor="let banner of tourData?.banner;let i = index">
                        <div class="banner-img">
                            <img [src]="banner?.image">
                            <ul>
                                <li class="item" *ngFor="let subItems of banner?.subItems;let j = index" [ngClass]="'item-'+(j+1)">
                                    <img [src]="subItems?.image">
                                    <h5>{{subItems?.count}}</h5>
                                    <p>{{subItems?.desc}}</p>
                                </li>
                            </ul>
                        </div>
                    </div>

                </ngx-slick-carousel>
            </div>
        </div>
    </div>
</section>

<section class="gallary">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center main-heading" >
                <h1>Live the Exprience</h1>
                <img src="assets/images/Vector (1).png">
                <p>Soft Chaos provides the most compelling and enjoyable experience of flying in the real world in real-time. <br>Let’s fly high and explore the unexplored. </p>
            </div>
        </div>
        <div class="row">
            <ng-container *ngIf="requestingServerForBannerText">
                <div class=" block">
                    <app-skeleton-loader [anotherStructure]="'tourGallery'"></app-skeleton-loader>
                </div>
            </ng-container>
            <ng-container *ngFor="let gallery of tourData?.gallery;let i = index">
                <div class="col-md-4 image-gallery" *ngIf="i === 0 || i ===3">
                    <a href="javascript:void(0);" data-toggle="modal" [attr.data-target]="'#img' + (i+1)"><img [src]="gallery"></a>
                    <div [attr.id]="'img' + (i+1)" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">

                                <div class="modal-body">
                                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i>
                          </button>
                                    <img [src]="gallery">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 image-gallery img-group" *ngIf="i === 1 ">
                    <!--|| i === 2    hide for 2-->
                    <a href="javascript:void(0);" data-toggle="modal" [attr.data-target]="'#img' + (i)"><img [src]="tourData?.gallery[i]"></a>
                    <a href="javascript:void(0);" data-toggle="modal" [attr.data-target]="'#img' + (i+1)"><img [src]="tourData?.gallery[i+1]"></a>
                    <div [attr.id]="'img' + (i)" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">

                                <div class="modal-body">
                                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                                    <img [src]="tourData?.gallery[i]">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div [attr.id]="'img' + (i+1)" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">

                                <div class="modal-body">
                                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                                    <img [src]="tourData?.gallery[i+1]">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </ng-container>
            <!-- <div class="col-md-4 image-gallery">
                <a href="javascript:void(0);" data-toggle="modal" data-target="#img1"><img src="assets/images/g1.png"></a>
                <div id="img1" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-body">
                                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                                <img src="assets/images/g1.png">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4 image-gallery img-group">
                <a href="javascript:void(0);" data-toggle="modal" data-target="#img2"><img src="gallery"></a>
                <a href="javascript:void(0);" data-toggle="modal" data-target="#img3"><img src="assets/images/g3.png"></a>
                <div id="img2" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-body">
                                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                                <img src="assets/images/g2.png">
                            </div>
                        </div>

                    </div>
                </div>
                <div id="img3" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-body">
                                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                                <img src="assets/images/g3.png">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4 image-gallery">
                <a href="javascript:void(0);" data-toggle="modal" data-target="#img5"><img src="assets/images/g4.png"></a>
                <div id="img5" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-body">
                                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                                <img src="assets/images/g4.png">
                            </div>
                        </div>

                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>
<section class="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <span>"</span>
                <h2>What our fans are saying<br> about us?</h2>
                <p>some testimonials from those who go traveling using our services</p>
            </div>
            <!-- <div class="col-md-5 slider-arrow">
                <a href="javascript:void(0)"><img src="assets/images/left-arrow.png"></a>
                <a href="javascript:void(0)"><img src="assets/images/right-arrow.png"></a>
            </div> -->
        </div>
        <!-- <div class="row"> -->
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfigTes">
            <ng-container *ngIf="requestingServerForBannerText">
                <div ngxSlickItem class=" block">
                    <app-skeleton-loader [anotherStructure]="'tourAboutTestimonials'"></app-skeleton-loader>
                </div>
                <div ngxSlickItem class=" block">
                    <app-skeleton-loader [anotherStructure]="'tourAboutTestimonials'"></app-skeleton-loader>
                </div>
                <div ngxSlickItem class=" block">
                    <app-skeleton-loader [anotherStructure]="'tourAboutTestimonials'"></app-skeleton-loader>
                </div>
            </ng-container>
            <div ngxSlickItem class="slide" *ngFor="let testimonial of tourData?.testimonials;let i = index">

                <div class="slide-box">
                    <p *ngIf="testimonial?.desc && testimonial?.desc?.length">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book. </p>
                    <img *ngIf="!testimonial?.desc && !testimonial?.desc?.length" [src]="testimonial.banner">
                    <ul>
                        <li><img [src]="testimonial.image"></li>
                        <li>
                            <h5>{{testimonial.name}}</h5>
                            <p>{{testimonial.role}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </ngx-slick-carousel>












        <!-- </div> -->
    </div>
</section>

<section class="tour-card">
    <div class="container">
        <div class="row pl-3">
            <div class="col-md-7">
                <h2>Popular This Week</h2>
                <img src="assets/images/Vector (1).png">
                <p>some testimonials from those who go traveling using our services</p>
            </div>
            <!-- <div class="col-md-5 slider-arrow">
                <a href="javascript:void(0)"><img src="assets/images/left-arrow.png"></a>
                <a href="javascript:void(0)"><img src="assets/images/right-arrow.png"></a>
            </div> -->
        </div>




        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfigCar">
            <ng-container *ngIf="requestingServerForBannerText">
                <div ngxSlickItem class=" block">
                    <app-skeleton-loader [anotherStructure]="'tourAboutServices'"></app-skeleton-loader>
                </div>
                <div ngxSlickItem class=" block">
                    <app-skeleton-loader [anotherStructure]="'tourAboutServices'"></app-skeleton-loader>
                </div>
                <div ngxSlickItem class=" block">
                    <app-skeleton-loader [anotherStructure]="'tourAboutServices'"></app-skeleton-loader>
                </div>
            </ng-container>
            <div ngxSlickItem class="slide" *ngFor="let service of tourData?.services;let i = index">

                <div class="card">
                    <div class="row">
                        <div class="col-md-6 mt-5 pt-5">
                            <h4>{{service?.name}}</h4>
                            <p>{{service?.desc}}</p>
                            <span>Price:</span>
                            <h5>$ {{service?.price}}</h5>
                            <a href="javascript:void(0)">Shop Now</a>
                        </div>
                        <div class="col-md-6">
                            <img [src]="service?.image">
                        </div>
                    </div>
                </div>
            </div>


        </ngx-slick-carousel>





        <!-- <div class="col-md-12">
            <div class="card">
                <div class="row">
                    <div class="col-md-6 mt-5 pt-5">
                        <h4>White back sweater </h4>
                        <p>some testimonials from those who go traveling using our services</p>
                        <span>Price:</span>
                        <h5>$ 120.00</h5>
                        <a href="javascript:void(0)">Shop Now</a>
                    </div>
                    <div class="col-md-6">
                        <img src="assets/images/Rectangle 1374.png">
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</section>
