<section class="banner tour">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-4">
                <div class="banner-text">
                    <small>India</small>
                    <h3>Taj Mahal</h3>
                    <img src="assets/images/Vector (1).png">
                    <p>Chaos is unavoidable; we continuously experience Chaos throughout our day. Sometimes, to escape from the chaos surrounding us, we decide to plan for our next vacation. Our company targets to offer solutions and expertise directly oriented
                        towards the tourism industry.
                    </p>
                    <a href="javascript:void(0)">Book Now<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    </a>
                    <span>$100.00<br><strong>$120.00</strong></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="banner-img">
                    <img src="assets/images/Silder Photo.png">
                    <ul>
                        <li class="item-1 item">
                            <img src="assets/images/2nd.png">
                            <h5>20M+</h5>
                            <p>User Online</p>
                        </li>
                        <li class="item-2 item">
                            <img src="assets/images/2nd.png">
                            <h5>5M+</h5>
                            <p>Visit Tajmahal</p>
                        </li>
                        <li class="item-3 item">
                            <img src="assets/images/2nd.png">
                            <h5>50M+</h5>
                            <p>Destination</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="gallary">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center main-heading">
                <h1>Live the Exprience</h1>
                <img src="assets/images/Vector (1).png">
                <p>While focusing on tourism development as a key target, Soft Chaos was established<br> aiming to bring value to the tourist and the hosting communities</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 image-gallery">
                <img src="assets/images/g1.png">
            </div>
            <div class="col-md-4 image-gallery img-group">
                <img src="assets/images/g2.png">
                <img src="assets/images/g3.png">
            </div>
            <div class="col-md-4 image-gallery">
                <img src="assets/images/g4.png">
            </div>
        </div>
    </div>
</section>
<section class="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <span>"</span>
                <h2>What our fans are saying<br> about us?</h2>
                <p>some testimonials from those who go traveling using our services</p>
            </div>
            <div class="col-md-5">
                <a href="javascript:void(0)"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
                <a href="javascript:void(0)"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="slide-box">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book. </p>
                    <ul>
                        <li><img src="assets/images/g4.png"></li>
                        <li>
                            <h5>Samantha William</h5>
                            <p>Lorem ipsum is simply</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="slide-box">
                    <img src="assets/images/Rectangle 1413.png">
                    <ul>
                        <li><img src="assets/images/g4.png"></li>
                        <li>
                            <h5>Samantha William</h5>
                            <p>Lorem ipsum is simply</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="slide-box">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book. </p>
                    <ul>
                        <li><img src="assets/images/g4.png"></li>
                        <li>
                            <h5>Samantha William</h5>
                            <p>Lorem ipsum is simply</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="tour-card">
    <div class="container">
        <div class="row pl-3">
            <div class="col-md-7">
                <h2>Popular This Week</h2>
                <img src="assets/images/Vector (1).png">
                <p>some testimonials from those who go traveling using our services</p>
            </div>
            <div class="col-md-5">
                <a href="javascript:void(0)"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
                <a href="javascript:void(0)"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="row">
                    <div class="col-md-6 mt-5 pt-5">
                        <h4>White back sweater </h4>
                        <p>some testimonials from those who go traveling using our services</p>
                        <span>Price:</span>
                        <h5>$ 120.00</h5>
                        <a href="javascript:void(0)">Shop Now</a>
                    </div>
                    <div class="col-md-6">
                        <img src="assets/images/Rectangle 1374.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
