<section class="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14027.559886042758!2d77.06795844999999!3d28.482860049999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1656162281304!5m2!1sen!2sin" width="" height="" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="col-md-5">
                <div class="contact-form">
                    <h3>Get in touch</h3>
                    <p>Interested in a demo?</p>
                    <form>
                        <div class="row">
                          <div class="col">
                              <label>Your Name</label>
                            <input type="text" class="form-control" placeholder="Enter your name">
                          </div>
                          <div class="col">
                            <label>Contact Email</label>
                            <input type="text" class="form-control" placeholder="Enter your email">
                          </div>
                        </div>
                        <div class="row">
                            <div class="col">
                              <label>Subject</label>
                              <input type="text" class="form-control" placeholder="Enter your subject">
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <label>Your Massage</label>
                              <textarea class="form-control" id="">Enter your massage</textarea>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <button type="submit">Submit</button>
                            </div>
                          </div>
                      </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contact-detail">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p>Phone:</p>
                <a href="tel:+7 (967) 049-81-99">+7 (967) 049-81-99</a>
            </div>
            <div class="col-md-4">
                <p>Address::</p>
                <a href="#">425 Pina Street 1000, Manila,<br> Philippines</a>
            </div>
            <div class="col-md-4">
                <p>E-mail:</p>
                <a href="mailto:softchaos@gmail.com">softchaos@gmail.com</a>
            </div>
        </div>
    </div>
</section>