
<!-----------------------about page html---------------------->
<section class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Let’s make it happen</h2>
                <p>It doesn’t where you’re coming from, how you look or any other aspect about yourself. If you’re passionate about what you do, we can’t wait to meet you.</p>
            </div>
            <div class="col-md-12">
                <ul>
                    <li class="about-1"><img src="assets/images/about1.png"></li>
                    <li class="about-2"><img src="assets/images/about2.png"></li>
                    <li class="about-3"><img src="assets/images/about3.png"></li>
                    <li class="about-4"><img src="assets/images/abou4.png"></li>
                    <li class="about-5"><img src="assets/images/Rectangle 1402.png"></li>
                    <li class="about-6"><img src="assets/images/Rectangle 1403.png"></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="about-gallry">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>A Little About Soft Chaos</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 

                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    
                   <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p> 
                    
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
            </div>
            <div class="col-md-3">
                <img src="assets/images/Rectangle 1399.png" class="gallery-1">
                <img src="assets/images/Rectangle 1404.png" class="gallery-2">
                <img src="assets/images/abou4.png" class="gallery-3">
            </div>
            <div class="col-md-3">
                <img src="assets/images/Rectangle 1401.png" class="gallery-4">
                <img src="assets/images/Rectangle 1402.png" class="gallery-5">
                <img src="assets/images/Rectangle 1400.png" class="gallery-6">
            </div>
        </div>
    </div>
</section>

<section class="service-boxes">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center main-heading">
                <h1>Meet The Founders</h1>
                <img src="assets/images/Vector (1).png">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="block">
                    <img src="assets/images/Rectangle 1405.png"> 
                    <h5>Joseph Davis</h5>
                    <span>-Founder, USA</span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="block">
                    <img src="assets/images/Rectangle 1405 (1).png"> 
                    <h5>Joseph Davis</h5>
                    <span>-Founder, USA</span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="block">
                    <img src="assets/images/Rectangle 1405 (2).png"> 
                    <h5>Joseph Davis</h5>
                    <span>-Founder, USA</span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="testimonials main-testimonials">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center main-heading">
              <h1>Join the of thousanda of organizers
                hosting creative events on soft Chaos</h1>
                <img src="assets/images/Vector (1).png">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="slide-box">
                    <img src="assets/images/Logo-1.png">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <ul>
                        <li><img src="assets/images/g4.png"></li>
                        <li><h5>Samantha William</h5><p>Lorem ipsum is simply</p></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="slide-box">
                    <img src="assets/images/Logo-2.png">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <ul>
                        <li><img src="assets/images/g4.png"></li>
                        <li><h5>Samantha William</h5><p>Lorem ipsum is simply</p></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="slide-box">
                    <img src="assets/images/Logo-3.png">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <ul>
                        <li><img src="assets/images/g4.png"></li>
                        <li><h5>Samantha William</h5><p>Lorem ipsum is simply</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
