<!-----------------------about page html---------------------->
<section class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Let’s make it happen</h2>
                <p>Our vocation is to give you a memorable virtual vacation with the help of drone technology. If you’re passionate about traveling as much as we’re to guide you through your virtual itinerary, let’s fly together.</p>
            </div>
            <div class="col-md-12">
                <ul>
                    <li class="about-1"><img src="assets/images/about1.png"></li>
                    <li class="about-2"><img src="assets/images/about2.png"></li>
                    <li class="about-3"><img src="assets/images/about4.png"></li>
                    <li class="about-4"><img src="assets/images/about3.png"></li>
                    <li class="about-5"><img src="assets/images/about5.png"></li>
                    <li class="about-6"><img src="assets/images/about6.png"></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="about-gallry">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>A Little about Soft Chaos</h2>
                <p>We are a progressive technology company based in Dubai specializing in tourism development. We offer various solutions and technologies supporting the tourism industry. </p>

                <p>Our key solution helps travel wanderers experience the thrill of virtual traveling. Our Soft Chaos solution is designed to provide immersive experiences; fly you over amazing architecture, nightlife scenes, natural spots across continents,
                    and what not. </p>

                <p>Throughout our continuously growing locations, our guide will take you on the most fulfilling travel experiences. </p>

                <p>At Soft Chaos, our primary goal is to support the sustainable development of local communities. The solution helps promote local culture & traditions, history, and products and creates better job opportunities. </p>
                <p>One night if you daydream about being on a white sandy beach and you have Soft Chaos as your travel partner. It’s exciting, right? So, let’s embrace the future of virtual traveling and be on the go.</p>
            </div>
            <div class="col-md-3">
                <img src="assets/images/Rectangle 1399.png" class="gallery-1">
                <img src="assets/images/Rectangle 1403 (1).png" class="gallery-2">
                <img src="assets/images/Rectangle 1402 (1).png" class="gallery-3">
            </div>
            <div class="col-md-3">
                <img src="assets/images/Rectangle 1401.png" class="gallery-4">
                <img src="assets/images/Rectangle 1404.png" class="gallery-5">
                <img src="assets/images/Rectangle 1400.png" class="gallery-6">
            </div>
        </div>
    </div>
</section>

<section class="service-boxes">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center main-heading">
                <h1>Meet The Founders</h1>
                <img src="assets/images/Vector (1).png">
                <p>Soft Chaos is established by a team of passionate tourism and technology experts. Our diverse multicultural team is continuously enriching our values and contributing to the growth of the organization. </p>
            </div>
        </div>
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
            <!-- <div class="row">
                <div class="col-md-4">
                    <div class="block">
                        <img src="assets/images/Rectangle 1405.png">
                        <h5>Joseph Davis</h5>
                        <span>Founder, USA</span>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the industry's standard dummy text ever since.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="block">
                        <img src="assets/images/Rectangle 1405 (1).png">
                        <h5>Joseph Davis</h5>
                        <span>Founder, USA</span>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the industry's standard dummy text ever since.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="block">
                        <img src="assets/images/Rectangle 1405 (2).png">
                        <h5>Joseph Davis</h5>
                        <span>Founder, USA</span>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the industry's standard dummy text ever since.</p>
                    </div>
                </div>
            </div> -->
            <div ngxSlickItem class="slide">
                <div class="block">
                    <img src="assets/images/Rectangle 1405.png">
                    <h5>Joseph Davis</h5>
                    <span>Founder, USA</span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been the industry's standard dummy text ever since.</p>
                </div>
            </div>
            <div ngxSlickItem class="slide">
                <div class="block">
                    <img src="assets/images/Rectangle 1405.png">
                    <h5>Joseph Davis</h5>
                    <span>Founder, USA</span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been the industry's standard dummy text ever since.</p>
                </div>
            </div>
            <div ngxSlickItem class="slide">
                <div class="block">
                    <img src="assets/images/Rectangle 1405.png">
                    <h5>Joseph Davis</h5>
                    <span>Founder, USA</span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been the industry's standard dummy text ever since.</p>
                </div>
            </div>
            <div ngxSlickItem class="slide">
                <div class="block">
                    <img src="assets/images/Rectangle 1405.png">
                    <h5>Joseph Davis</h5>
                    <span>Founder, USA</span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been the industry's standard dummy text ever since.</p>
                </div>
            </div>
            <div ngxSlickItem class="slide">
                <div class="block">
                    <img src="assets/images/Rectangle 1405.png">
                    <h5>Joseph Davis</h5>
                    <span>Founder, USA</span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been the industry's standard dummy text ever since.</p>
                </div>
            </div>
        </ngx-slick-carousel>
    </div>
</section>
<section class="testimonials main-testimonials">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center main-heading">
                <h1>Join the of thousanda of organizers hosting creative events on soft Chaos</h1>
                <p>We are always keen on extending the user's experience to new sites and locations. As part of our values is to support local communities we are keen on enriching our partners' network. </p>
                <p>If you wish to support the promotion of a specific destination? If you can either directly or indirectly support the regulatory, functional, technical, or any other aspect. Please feel free to share details about your organization and
                    the location you are offering to promote and the ways of support you can offer and our team will reach out to you. </p>
                <p>Join the many organizers hosting creative events on Soft Chaos.</p>
                <img src="assets/images/Vector (1).png">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="slide-box">
                    <img src="assets/images/Logo-1.png">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <ul>
                        <li><img src="assets/images/Ellipse 90.png"></li>
                        <li>
                            <h5>Samantha William</h5>
                            <p>Lorem ipsum is simply</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="slide-box">
                    <img src="assets/images/Logo-2.png">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <ul>
                        <li><img src="assets/images/Ellipse 91.png"></li>
                        <li>
                            <h5>Samantha William</h5>
                            <p>Lorem ipsum is simply</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="slide-box">
                    <img src="assets/images/Logo-3.png">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <ul>
                        <li><img src="assets/images/Ellipse 98.png"></li>
                        <li>
                            <h5>Samantha William</h5>
                            <p>Lorem ipsum is simply</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
