<footer *ngIf="true">
    <div class="wave-container-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-4 logo text-left">
                    <img src="assets/images/main-logo.png">
                </div>
                <div class="col-md-4 quick-links">
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Our Solution</a></li>
                        <li><a href="#">Join Us</a></li>
                    </ul>
                </div>
                <div class="col-md-4 social-icon text-right">
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>                      
                        <li>
                            <a href="#">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row border-top">
                <div class="col-md-6 p-0">
                    <div class="copyright">
                        <p>© 2021 All rights reserved.</p>
                    </div>
                </div>
                <div class="col-md-6 p-0">
                    <div class="copyright">
                        <ul>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>