<!----------------------our service page html---------------------->
<section class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Your technology partner for tourism development</h2>
                <p>In addition to our own solutions, we offer to be your technology partner helping you to implement new concepts. We can support you and work with you throughout your concept lifecycle process. Our key services focus on:</p>
            </div>
            <div class="col-md-12">
                <ul>
                    <li class="about-1"><img src="assets/images/about1.png"></li>
                    <li class="about-2"><img src="assets/images/about2.png"></li>
                    <li class="about-3"><img src="assets/images/about3.png"></li>
                    <li class="about-4"><img src="assets/images/abou4.png"></li>
                    <li class="about-5"><img src="assets/images/Rectangle 1402.png"></li>
                    <li class="about-6"><img src="assets/images/Rectangle 1403.png"></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="about-card bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="assets/images/about-img.png">
            </div>
            <div class="col-md-6">
                <h3>Ideation</h3>
                <p>Being a creative and freeing phase, it is also a structured process of guiding the people through thoughtfully designed exercises to come up with innovative and valuable ideas. In a judgment-free environment, participants gather to produce as many ideas as they can to address a given problem with a pragmatic approach.</p>
                <ul>
                    <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>Identify vision key statement</li>
                    <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>Discuss and verify requirements</li>
                    <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>Conduct market studies and analysis</li>
                    <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>Design vision from both hardware and software technologies needed</li>
                    <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>Build a prototype on-demand</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="about-card bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Development</h3>
                <p>Everything that is required to convert the design thinking into a working information system is arranged which in turn, transforms a newly-developed project into an operational one. It is equally important to be aware of potential risks that may crop up during this phase and also measure the response time of the crucial product development. </p>
                <ul>
                    <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>Manage vision development and delivery</li>
                    <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>Design the solution as per market best practices</li>
                    <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>Develop using Agile methodology</li>
                    <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>Test and conduct Quality assurance</li>
                    <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>Deploy architecture and cloud hosting</li>
                </ul>
            </div>
            <div class="col-md-6">
                <img src="assets/images/about-img.png">
            </div>
        </div>
    </div>
</section>
<section class="about-card bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="assets/images/about-img.png">
            </div>
            <div class="col-md-6">
                <h3>Maintenance</h3>
                <p>Our maintenance team practice activities required to handle issues like residual bugs as reported by end-users and execute the changes that the system may need post-deployment. Also, add new capabilities and meet unique user needs which further boost the product performance. </p>
                <ul>
                    <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>Ongoing Support
                    </li>
                    <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>IT Operations</li>
                    <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>Customer Services</li>
                    <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>Managed Services</li>
                </ul>
            </div>
        </div>
    </div>
</section>