<!----------------------our service page html---------------------->
<section class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>How we make it happen</h2>
                <p>It doesn’t where you’re coming from, how you look or any other aspect about yourself. <br>If you’re passionate about what you do, we can’t wait to meet you.</p>
            </div>
            <div class="col-md-12">
                <ul>
                    <li class="about-1"><img src="assets/images/about1.png"></li>
                    <li class="about-2"><img src="assets/images/about2.png"></li>
                    <li class="about-3"><img src="assets/images/about3.png"></li>
                    <li class="about-4"><img src="assets/images/abou4.png"></li>
                    <li class="about-5"><img src="assets/images/Rectangle 1402.png"></li>
                    <li class="about-6"><img src="assets/images/Rectangle 1403.png"></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="about-card bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="assets/images/about-img.png">
            </div>
            <div class="col-md-6">
                <h3>Ideation</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <ul>
                    <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>Identify vision key statement.</li>
                    <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>Discuss and verify requirements.</li>
                    <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>Conduct market studies and analysis.</li>
                    <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>Design vision from both hardware and software technologies needed.</li>
                    <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>Build a prototype on demand.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="about-card bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Development</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <ul>
                    <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>Manage vision development and delivery</li>
                    <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>Design the solution as per market best practices</li>
                    <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>Develop using Agile methodology</li>
                    <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>Test and conduct Quality assurance</li>
                    <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>Deploy architecture and cloud hosting</li>
                </ul>
            </div>
            <div class="col-md-6">
                <img src="assets/images/about-img.png">
            </div>
        </div>
    </div>
</section>
<section class="about-card bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="assets/images/about-img.png">
            </div>
            <div class="col-md-6">
                <h3>Maintenance</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <ul>
                    <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>Ongoing Support</li>
                    <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>IT Operations</li>
                    <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>Customer Care</li>
                    <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>Managed Services</li>
                </ul>
            </div>
        </div>
    </div>
</section>