<main [class]="elementType" *ngIf="!anotherStructure">
    <ul class="o-vertical-spacing o-vertical-spacing--l">
        <li class="blog-post o-media">
            <div class="o-media__figure">
                <span class="skeleton-box" [style.display]="elementType === 'bannerTextCard' ? 'none': 'block'" style="width:100px;height:80px;"></span>
            </div>
            <div class="o-media__body">
                <div class="o-vertical-spacing">
                    <h3 class="blog-post__headline">
                        <span class="skeleton-box" style="width:55%;"></span>
                    </h3>
                    <p>
                        <span class="skeleton-box" style="width:80%;"></span>
                        <span class="skeleton-box" style="width:90%;"></span>
                        <span class="skeleton-box" style="width:83%;"></span>
                        <span class="skeleton-box" style="width:80%;"></span>
                    </p>
                    <div class="blog-post__meta">
                        <span class="skeleton-box" style="width:70px;"></span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</main>

<main *ngIf="anotherStructure">
    <ul *ngIf="anotherStructure === 'aboutUsTestimonials'" class="aboutUsTest">
        <li class="blog-post o-media">
            <div class="o-media__figure mb-3">
                <span class="skeleton-box" [style.display]="elementType === 'bannerTextCard' ? 'none': 'block'" style="width:200px;height: 45px;border-radius: 0;"></span>
            </div>
            <div class="o-media__body">
                <div class="o-vertical-spacing">
                    <h3 class="blog-post__headline mb-0">
                        <span class="skeleton-box" style="width:250px;height:10px;border-radius: 0;"></span>
                    </h3>
                    <p>
                        <span class="skeleton-box" style="width:300px;height: 10px;border-radius: 0;display: block;margin-bottom: 14px;"></span>
                        <span class="skeleton-box" style="width:300px;height: 10px;border-radius: 0;display: block;margin-bottom: 14px;"></span>
                        <span class="skeleton-box" style="width:300px;height: 10px;border-radius: 0;display: block;margin-bottom: 14px;"></span>
                        <span class="skeleton-box" style="width:280px;height: 10px;border-radius: 0;display: block;margin-bottom: 14px;"></span>
                    </p>
                    <div class="blog-post__meta">
                        <span class="skeleton-box" style="width:70px;height: 10px;border-radius: 0;"></span>
                    </div>
                </div>
            </div>
        </li>
    </ul>

    <ul *ngIf="anotherStructure === 'aboutUsService'" class="aboutUsService">
        <li class="blog-post o-media">
            <div class="o-media__figure">
                <span class="skeleton-box" [style.display]="elementType === 'bannerTextCard' ? 'none': 'block'" style="width: 340px;height: 220px;"></span>
            </div>
            <div class="o-media__body">
                <div class="o-vertical-spacing">
                    <h3 class="blog-post__headline">
                        <span class="skeleton-box" style="width:50%;"></span>
                    </h3>
                    <p>
                        <span class="skeleton-box" style="width:35%;"></span>
                        <span class="skeleton-box" style="width:90%;"></span>
                        <span class="skeleton-box" style="width:88%;"></span>
                        <span class="skeleton-box" style="width:80%;"></span>
                    </p>
                    <div class="blog-post__meta">
                        <span class="skeleton-box" style="width:60%;"></span>
                    </div>
                </div>
            </div>
        </li>
    </ul>

    <ul *ngIf="anotherStructure === 'aboutUsgallery'" class="aboutUsgallery">
        <li class="blog-post o-media">
            <div class="o-media__figure">
                <span class="skeleton-box" [style.display]="elementType === 'bannerTextCard' ? 'none': 'block'" style="width:310px;height:418px;position: absolute;left: 0; top:0px;"></span>
            </div>
            <div class="o-media__body">
                <div class="o-vertical-spacing">
                    <h3 class="blog-post__headline">
                        <span class="skeleton-box" style="width: 310px;position: absolute;left: 332px;height: 200px;top: 0px;"></span>
                    </h3>
                    <p>
                        <span class="skeleton-box" style="width: 310px;position: absolute;left: 332px;height: 200px;top: 218px;"></span>
                        <span class="skeleton-box" style="width: 310px;position: absolute;left: 0;height: 200px;top: 43
                        6px;"></span>
                        <span class="skeleton-box" style="width: 310px;position: absolute;left: 0;height: 200px;top: 0px;"></span>
                    </p>
                </div>
            </div>
        </li>
    </ul>

    <ul *ngIf="anotherStructure === 'dashboardObjectives'" class="dashboardObjectives">
        <li class="blog-post o-media">
            <div class="o-media__figure">
                <span class="skeleton-box" [style.display]="elementType === 'bannerTextCard' ? 'none': 'block'" style="width: 300px;height: 180px;display: block;"></span>
            </div>
            <div class="o-media__body">
                <div class="o-vertical-spacing">
                    <h3 class="blog-post__headline">
                        <span class="skeleton-box" style="display: block;width: 255px;height: 180px;position: absolute;top: 50px;left: 1022px;"></span>
                    </h3>
                    <p>
                        <span class="skeleton-box" style="width: 250px;height: 10px;display: block;position: absolute;top: 273px;"></span>
                        <span class="skeleton-box" style="width: 200px;height: 10px;display: block;position: absolute;top: 300px;"></span>
                        <span class="skeleton-box" style="width: 150px;height: 10px;display: block;position: absolute;top: 273px;"></span>
                        <span class="skeleton-box" style="width: 208px;height: 10px;display: block;position: absolute;left: 1023px;top: 273px;"></span>
                    </p>
                    <div class="blog-post__meta">
                        <span class="skeleton-box" style="width:150px;height: 10px;display: block;position: absolute;left: 1023px;top: 300px;"></span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <ul *ngIf="anotherStructure === 'dashboardBanner'" class="dashboardBanner">
        <li class="blog-post o-media">
            <div class="o-media__figure">
                <span class="skeleton-box" [style.display]="elementType === 'bannerTextCard' ? 'none': 'block'" style="width: 100%;height: 160px;border-radius: 15px 15px 0 0;position: relative;left: 0;display: block;top: 0;"></span>
            </div>
            <div class="o-media__body">
                <div class="o-vertical-spacing">
                    <h3 class="blog-post__headline">
                        <span class="skeleton-box" style="width: 100%;height: 20px;border-radius:0;position: relative;left:0;top:0;"></span>
                    </h3>
                    <p>
                        <span class="skeleton-box" style="width: 100%;height: 20px;border-radius:0;position: relative;left:0;top:-10px;"></span>
                        <span class="skeleton-box" style="width: 100%;height: 20px;border-radius:0;position: relative;left:0;top:-10px;"></span>
                        <span class="skeleton-box" style="width: 100%;height: 20px;border-radius:0;position: relative;left:0;top:-10px;"></span>
                        <span class="skeleton-box" style="width: 100%;height: 20px;border-radius:0;position: relative;left:0;top:-10px;"></span>
                    </p>
                    <div class="blog-post__meta">
                        <span class="skeleton-box" style="width: 100%;height: 20px;border-radius:0;position: relative;left:0;top:-10px;"></span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <ul *ngIf="anotherStructure === 'tourBanner'" class="tourBanner">
        <li class="blog-post o-media">
            <div class="o-media__figure">
                <span class="skeleton-box" [style.display]="elementType === 'bannerTextCard' ? 'none': 'block'" style="width: 100%;height: 160px;border-radius: 15px 15px 0 0;position: relative;left: 0;display: block;top: 0;"></span>
            </div>
            <div class="o-media__body">
                <div class="o-vertical-spacing">
                    <h3 class="blog-post__headline">
                        <span class="skeleton-box" style="width: 100%;height: 20px;border-radius:0;position: relative;left:0;top:0;"></span>
                    </h3>
                    <p>
                        <span class="skeleton-box" style="width: 100%;height: 20px;border-radius:0;position: relative;left:0;top:-10px;"></span>
                        <span class="skeleton-box" style="width: 100%;height: 20px;border-radius:0;position: relative;left:0;top:-10px;"></span>
                        <span class="skeleton-box" style="width: 100%;height: 20px;border-radius:0;position: relative;left:0;top:-10px;"></span>
                        <span class="skeleton-box" style="width: 100%;height: 20px;border-radius:0;position: relative;left:0;top:-10px;"></span>
                    </p>
                    <div class="blog-post__meta">
                        <span class="skeleton-box" style="width: 100%;height: 20px;border-radius:0;position: relative;left:0;top:-10px;"></span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <ul *ngIf="anotherStructure === 'tourAboutTestimonials'" class="tourAboutTestimonials">
        <li class="blog-post o-media">
            <div class="o-media__figure">
                <span class="skeleton-box" [style.display]="elementType === 'bannerTextCard' ? 'none': 'block'" style="width: 95%;height: 160px;border-radius: 15px 15px 0 0;position: relative;left: 0;display: block;top: 0;"></span>
            </div>
            <div class="o-media__body">
                <div class="o-vertical-spacing">
                    <h3 class="blog-post__headline">
                        <span class="skeleton-box" style="width: 95%;height: 20px;border-radius:0;position: relative;left:0;top:0;"></span>
                    </h3>
                    <p style="position:relative;left:0;">
                        <span class="skeleton-box" style="width: 95%;height: 20px;border-radius:0;position: relative;left:0;top:-10px;"></span>
                        <span class="skeleton-box" style="width: 90%;height: 20px;border-radius:0;position: relative;left:0;top:-10px;"></span>
                        <span class="skeleton-box" style="width: 80%;height: 20px;border-radius:0;position: relative;left:0;top:-10px;"></span>
                        <span class="skeleton-box" style="width: 70%;height: 20px;border-radius:0;position: relative;left:0;top:-10px;"></span>
                    </p>
                    <div class="blog-post__meta">
                        <span class="skeleton-box" style="width:60%;height: 20px;border-radius:0;position: relative;left:0;top:-60px;"></span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <ul *ngIf="anotherStructure === 'tourAboutServices'" class="tourAboutServices">
        <li class="blog-post o-media">
            <div class="o-media__figure">
                <span class="skeleton-box" [style.display]="elementType === 'bannerTextCard' ? 'none': 'block'" style="width: 100%;height: 160px;border-radius: 15px 15px 0 0;position: relative;left: 0;display: block;top: 0;"></span>
            </div>
            <div class="o-media__body">
                <div class="o-vertical-spacing">
                    <h3 class="blog-post__headline">
                        <span class="skeleton-box" style="width: 100%;height: 20px;border-radius:0;position: relative;left:0;top:0;"></span>
                    </h3>
                    <p>
                        <span class="skeleton-box" style="width: 100%;height: 20px;border-radius:0;position: relative;left:0;top:-10px;"></span>
                        <span class="skeleton-box" style="width: 100%;height: 20px;border-radius:0;position: relative;left:0;top:-10px;"></span>
                        <span class="skeleton-box" style="width: 100%;height: 20px;border-radius:0;position: relative;left:0;top:-10px;"></span>
                        <span class="skeleton-box" style="width: 100%;height: 20px;border-radius:0;position: relative;left:0;top:-10px;"></span>
                    </p>
                    <div class="blog-post__meta">
                        <span class="skeleton-box" style="width: 100%;height: 20px;border-radius:0;position: relative;left:0;top:-10px;"></span>
                    </div>
                </div>
            </div>
        </li>
    </ul>

    <ul *ngIf="anotherStructure === 'homeBannerImage'" class="homeBannerImage">
        <li class="blog-post o-media">
            <div class="o-media__figure">
                <span class="skeleton-box" style="width: 100%;height: 160px;border-radius: 15px 15px 0 0;position: relative;left: 0;display: block;top: 0;"></span>
            </div>
            <div class="o-media__body">
                <div class="o-vertical-spacing">
                    <h3 class="blog-post__headline">
                        <span class="skeleton-box" style="width: 100%;height: 20px;border-radius:0;position: relative;left:0;top:0;"></span>
                    </h3>
                    <p>
                        <span class="skeleton-box" style="width: 100%;height: 20px;border-radius:0;position: relative;left:0;top:-10px;"></span>
                        <span class="skeleton-box" style="width: 100%;height: 20px;border-radius:0;position: relative;left:0;top:-10px;"></span>
                        <span class="skeleton-box" style="width: 100%;height: 20px;border-radius:0;position: relative;left:0;top:-10px;"></span>
                        <span class="skeleton-box" style="width: 100%;height: 20px;border-radius:0;position: relative;left:0;top:-10px;"></span>
                    </p>
                    <div class="blog-post__meta">
                        <span class="skeleton-box" style="width: 100%;height: 20px;border-radius:0;position: relative;left:0;top:-10px;"></span>
                    </div>
                </div>
            </div>
        </li>
    </ul>

    <ul *ngIf="anotherStructure === 'tourGallery'" class="tourGallery">
        <li class="blog-post o-media">
                <span class="skeleton-box" [style.display]="elementType === 'bannerTextCard' ? 'none': 'block'"></span>
        </li>
        <li>
            <span class="skeleton-box" style="height:200px !important;margin-bottom:10px;width: 400px;"></span>
            <span class="skeleton-box" style="height:200px !important;width: 400px;"></span> 
        </li>
        <li>
            <span class="skeleton-box"></span> 
        </li>
       
            <!-- <div class="o-media__body">
                <div class="o-vertical-spacing">
                    
                    <p>
                        <span class="skeleton-box" style="width: 100%;height: 20px;border-radius:0;position: relative;left:0;top:-10px;"></span>
                        <span class="skeleton-box" style="width: 100%;height: 20px;border-radius:0;position: relative;left:0;top:-10px;"></span>
                        <span class="skeleton-box" style="width: 100%;height: 20px;border-radius:0;position: relative;left:0;top:-10px;"></span>
                        <span class="skeleton-box" style="width: 100%;height: 20px;border-radius:0;position: relative;left:0;top:-10px;"></span>
                    </p>
                    <div class="blog-post__meta">
                        <span class="skeleton-box" style="width: 100%;height: 20px;border-radius:0;position: relative;left:0;top:-10px;"></span>
                    </div>
                </div>
            </div> -->
       
    </ul>
    <ul *ngIf="anotherStructure === 'servicegallery'" class="servicegallery">
    <li>
            <span class="skeleton-box" [style.display]="elementType === 'bannerTextCard' ? 'none': 'block'"></span>
    </li>
    <li>
        <span class="skeleton-box" style="height:200px !important;margin-bottom:10px;"></span>
        <span class="skeleton-box" style="height:200px !important;"></span> 
    </li>
    <li>
        <span class="skeleton-box" style="height:200px !important;margin-bottom:10px;"></span>
        <span class="skeleton-box" style="height:200px !important;"></span> 
    </li>
    <li>
        <span class="skeleton-box" style="height:400px !important;"></span> 
    </li>
       
            <!-- <div class="o-media__body">
                <div class="o-vertical-spacing">
                    
                    <p>
                        <span class="skeleton-box" style="width: 100%;height: 20px;border-radius:0;position: relative;left:0;top:-10px;"></span>
                        <span class="skeleton-box" style="width: 100%;height: 20px;border-radius:0;position: relative;left:0;top:-10px;"></span>
                        <span class="skeleton-box" style="width: 100%;height: 20px;border-radius:0;position: relative;left:0;top:-10px;"></span>
                        <span class="skeleton-box" style="width: 100%;height: 20px;border-radius:0;position: relative;left:0;top:-10px;"></span>
                    </p>
                    <div class="blog-post__meta">
                        <span class="skeleton-box" style="width: 100%;height: 20px;border-radius:0;position: relative;left:0;top:-10px;"></span>
                    </div>
                </div>
            </div> -->
       
    </ul>


</main>
