<div class="contact-us-container">
    <div class="map-container">
        <div class="row">
            <div class="col-lg-6 map-section">
                <div class="map-load" *ngIf="mapLoad">
                    <div class="lds-spinner">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <div #map class="gmap"></div>
            </div>
            <div class="col-lg-6 contact-form">
                <h1 class="form-title text-left">Get in touch</h1>
                <h4 class="form-subtitle">Interested in a demo?</h4>
                <form [formGroup]="contactForm">
                    <div class="row">
                        <div class="col-lg-6 d-flex flex-column form-group">
                            <label for="formGroupName">Your Name</label>
                            <input [ngClass]="{'input-error': (contactForm.controls['name']['invalid'] && contactForm.controls['name'].touched )}" formControlName="name" class="form-control" id="formGroupName" placeholder="Enter your name" type="text" />
                            <div *ngIf="
                            contactForm.controls['name'].touched &&
                            contactForm.controls['name'].invalid
                                      " class="error2">
                                <span *ngIf="contactForm.controls['name'].hasError('required')">Name is required.</span>
                            </div>
                        </div>
                        <div class="col-lg-6 d-flex flex-column form-group">
                            <label for="formGroupName">Contact Email</label>
                            <input [ngClass]="{'input-error': (contactForm.controls['email']['invalid'] && contactForm.controls['email'].touched )}" formControlName="email" class="form-control" id="formGroupEmail" placeholder="Enter your email" type="email" />
                            <div *ngIf="
                            contactForm.controls['email'].touched &&
                            contactForm.controls['email'].invalid
                                      " class="error2">
                                <span *ngIf="contactForm.controls['email'].hasError('required')">Email is required.</span>
                                <span *ngIf="contactForm.controls['email'].hasError('email')">Invalid Email.</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Subject</label>
                        <input [ngClass]="{'input-error': (contactForm.controls['subject']['invalid'] && contactForm.controls['subject'].touched )}" formControlName="subject" class="form-control" id="formGroupExampleInput2" placeholder="Enter your subject" type="text" />
                        <div *ngIf="
                        contactForm.controls['subject'].touched &&
                        contactForm.controls['subject'].invalid
                                  " class="error2">
                            <span *ngIf="contactForm.controls['subject'].hasError('required')">Subject is required.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="formControlTextarea">Your Massage</label>
                        <textarea [ngClass]="{'input-error': (contactForm.controls['message']['invalid'] && contactForm.controls['message'].touched )}" formControlName="message" class="form-control" id="formControlTextarea" placeholder="Enter your massage" rows="3"></textarea>
                        <div *ngIf="
                        contactForm.controls['message'].touched &&
                        contactForm.controls['message'].invalid
                                  " class="error2">
                            <span *ngIf="contactForm.controls['message'].hasError('required')">Message is required.</span>
                        </div>

                    </div>
                    <div class="captcha">
                        <!-- <recaptcha (scriptLoad)="onScriptLoad()" (scriptError)="onScriptError()"></recaptcha> -->
                        <!-- <recaptcha [size]="'normal'" siteKey="YOUR_SITE_KEY" [hide]="false" (captchaResponse)="onCaptchaResponse($event)">
                        </recaptcha> -->
                    </div>
                    <div class="form-group d-flex justify-content-end submit-form-button">
                        <button class="btn btn-submit align-self-center " [disabled]="this.contactForm.invalid" (click)="submit()">
              Submit
            </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="contact-info">
            <div class="row contacts-row">
                <div class="col-lg-4 d-flex flex-column">
                    <h5>Phone:</h5>
                    <h3>+7 (967) 049-81-99</h3>
                </div>
                <div class="col-lg-4 d-flex flex-column">
                    <h5>Address:</h5>
                    <h3>425 Pina Street 1000, Manila, Philippines</h3>
                </div>
                <div class="col-lg-4 d-flex flex-column mr-0">
                    <h5>E-mail:</h5>
                    <h3>softchaos@gmail.com</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <recaptcha [size]="'invisible'" (captchaResponse)="onCaptchaResponse($event)">
</recaptcha> -->