<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-4">
                <div class="banner-text">
                    <h3>Experience the chill of a virtual vacation from your home </h3>
                    <img src="assets/images/Vector (1).png">
                    <p>To manage chaos is to accept the challenges that we witness every day. It is inevitable but we do have the choice to put the chaos back into the trunk and experience the beauty of life from a virtual lens. You can experience a vacation
                        from your home through the use of drone technology.
                    </p>
                    <a href="javascript:void(0)">Learn More About US<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfigSec">

                    <div ngxSlickItem class="slide">
                        <div class="banner-img">
                            <img src="assets/images/banner-img.png">
                            <ul>
                                <li class="item-1 item">
                                    <img src="assets/images/2nd.png">
                                    <h5>20M+</h5>
                                    <p>User Online</p>
                                </li>
                                <li class="item-2 item">
                                    <img src="assets/images/2nd.png">
                                    <h5>5M+</h5>
                                    <p>Visit Tajmahal</p>
                                </li>
                                <li class="item-3 item">
                                    <img src="assets/images/2nd.png">
                                    <h5>50M+</h5>
                                    <p>Destination</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div ngxSlickItem class="slide">
                        <div class="banner-img">
                            <img src="assets/images/banner-img.png">
                            <ul>
                                <li class="item-1 item">
                                    <img src="assets/images/2nd.png">
                                    <h5>20M+</h5>
                                    <p>User Online</p>
                                </li>
                                <li class="item-2 item">
                                    <img src="assets/images/2nd.png">
                                    <h5>5M+</h5>
                                    <p>Visit Tajmahal</p>
                                </li>
                                <li class="item-3 item">
                                    <img src="assets/images/2nd.png">
                                    <h5>50M+</h5>
                                    <p>Destination</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div ngxSlickItem class="slide">
                        <div class="banner-img">
                            <img src="assets/images/banner-img.png">
                            <ul>
                                <li class="item-1 item">
                                    <img src="assets/images/2nd.png">
                                    <h5>20M+</h5>
                                    <p>User Online</p>
                                </li>
                                <li class="item-2 item">
                                    <img src="assets/images/2nd.png">
                                    <h5>5M+</h5>
                                    <p>Visit Tajmahal</p>
                                </li>
                                <li class="item-3 item">
                                    <img src="assets/images/2nd.png">
                                    <h5>50M+</h5>
                                    <p>Destination</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </ngx-slick-carousel>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form class="form-inline reservation-horizontal clearfix" role="form" method="post" name="reservationform" id="reservationform">
                    <!-- Error message -->
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label type="button" class="m-btn">Type <i class="fa fa-angle-down" aria-hidden="true"></i>  </label>
                                <!-- <div id="demo" class="collapse">
                                    <ul>
                                        <li><a href="javascript:void(0)">Safari</a></li>
                                        <li><a href="javascript:void(0)">City View</a></li>
                                        <li><a href="javascript:void(0)">Back to the post</a></li>
                                    </ul>
                                </div> -->
                                <!-- <input name="email" type="text" id="" value="" class="form-control" placeholder="Where do you want to visit?"> -->
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <!-- <mat-label>Type <i class="fa fa-angle-down" aria-hidden="true"></i>  </mat-label> -->
                                    <input type="text" placeholder="Where do you want to visit?" aria-label="Number" matInput [matAutocomplete]="auto">
                                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                        <mat-option [value]="'Safari'"> Safari </mat-option>
                                        <mat-option [value]="'City View'"> City View </mat-option>
                                        <mat-option [value]="'Back to the post'"> Back to the post </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label type="button" class="m-btn">Date <i class="fa fa-angle-down" aria-hidden="true"></i>  </label>
                                <!-- <div id="demo1" class="collapse">
                                    <ul>
                                        <li><a href="javascript:void(0)">Safari</a></li>
                                        <li><a href="javascript:void(0)">City View</a></li>
                                        <li><a href="javascript:void(0)">Back to the post</a></li>
                                    </ul>
                                </div> -->
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <!-- <mat-label>Date <i class="fa fa-angle-down" aria-hidden="true"></i>  </mat-label> -->
                                    <input name="date" type="text" id="" value="" class="form-control" placeholder="When it will start?" bsDatepicker matInput>
                                </mat-form-field>
                                <!--[bsConfig]="bsConfig"-->
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label type="button" class="m-btn">Location <i class="fa fa-angle-down" aria-hidden="true"></i>  </label>
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <!-- <mat-label>Location <i class="fa fa-angle-down" aria-hidden="true"></i>  </mat-label> -->
                                    <input type="text" placeholder="Enter your destinations" aria-label="" matInput [matAutocomplete]="auto">
                                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                        <mat-option [value]="'Safari'"> Safari </mat-option>
                                        <mat-option [value]="'City View'"> City View </mat-option>
                                        <mat-option [value]="'Back to the post'"> Back to the post </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                                <!-- <input name="email" type="text" id="" value="" class="form-control" placeholder="Enter your destinations"> -->
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <button type="submit" class="btn btn-primary btn-block">Explore Now</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row banner-logo">
            <div class="col-md-12 text-center logo-heading">
                <p>Join 4,000 + companies already growing</p>

            </div>
            <div class="col-md-12">
                <ul>
                    <li><img src="assets/images/Logo-1.png"></li>
                    <li><img src="assets/images/Logo-2.png"></li>
                    <li><img src="assets/images/Logo-3.png"></li>
                    <li><img src="assets/images/Logo-4.png"></li>
                    <li><img src="assets/images/Logo-5.png"></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-------------Our Key Objectives----------->
<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center main-heading">
                <h1>Our Key Objectives</h1>
                <img src="assets/images/Vector (1).png" class="bg-vector">
                <p>Soft Chaos’ key solution was built to promote sustainable tourism and bring value to the tourists who want to roam the world in real-time. </p>
            </div>
            <div class="col-md-4 box text-center">
                <img src="assets/images/img1.png">
                <h3>Easy to use</h3>
                <p>Search, book, and fly easily from your interface.</p>
            </div>
            <div class="col-md-4 box text-center">
                <img src="assets/images/img2.png">
                <h3>Support local communities</h3>
                <p>Our solution connects virtual travelers to local service providers. This allows the promotion of local services and contributes to sustainable development.

                </p>
            </div>
            <div class="col-md-4 box text-center">
                <img src="assets/images/img3.png">
                <h3>Unique experience</h3>
                <p>Being able to fly on-demand in real-time and schedule a live tour to enable travelers to enjoy immersive experiences. You never know what you’re going to explore during your trip.
                </p>
            </div>
            <div class="col-md-4 box text-center mt-4">
                <img src="assets/images/img4.png">
                <h3>Collaborative</h3>
                <p>The solution allows travelers to rate destinations, be able to record the trip, and share the recorded footage with their friends and family.
                </p>
            </div>
            <div class="col-md-4 box text-center mt-4">
                <img src="assets/images/img5.png">
                <h3>Unique experience</h3>
                <p>Being able to fly on-demand in real-time and schedule a live tour to enable travelers to enjoy immersive experiences. You never know what you’re going to explore during your trip. </p>
            </div>
            <div class="col-md-4 box text-center mt-4">
                <img src="assets/images/img6.png">
                <h3>Collaborative</h3>
                <p>The solution allows travelers to rate destinations, be able to record the trip, and share the recorded footage with their friends and family.</p>
            </div>
        </div>
    </div>
</section>
<!-------------bg section---------->
<section class="bg-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="bg-slider">
                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                        <div ngxSlickItem class="slide">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="bg-text mt-5 pt-5">
                                        <h2>Understand</h2>
                                        <img src="assets/images/Vector (1).png">
                                        <p> Establish and maintain the right approach to accelerate the delivery process. </p>
                                    </div>
                                </div>
                                <div class="col-md-7  main-flex d-flex">
                                    <div class="slider-block">
                                        <img src="assets/images/slide-1.png">
                                        <h4>Empathize</h4>
                                        <p>Conduct research, interviews, and shadowing customers for better understanding without judging.
                                        </p>
                                    </div>
                                    <div class="slider-block">
                                        <img src="assets/images/slide-1.png">
                                        <h4>Define</h4>
                                        <p>Identify and pinpoint the list of problems in hand along with objectives, personas, and challenges.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ngxSlickItem class="slide">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="bg-text mt-5 pt-5">
                                        <h2>Explore </h2>
                                        <img src="assets/images/Vector (1).png">
                                        <p>Here begins the design thinking process as we focus on the strongest ideas and build upon them.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-7 main-flex d-flex">
                                    <div class="slider-block">
                                        <img src="assets/images/slide-1.png">
                                        <h4>Ideate</h4>
                                        <p>Generate a list of ideas. Share ideas, discuss, segment, and prioritize ideas. </p>
                                    </div>
                                    <div class="slider-block">
                                        <img src="assets/images/slide-1.png">
                                        <h4>Prototype</h4>
                                        <p>Build representations for a range of ideas. Create a simple storyboard and don’t be afraid to iterate or to fail fast.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ngxSlickItem class="slide">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="bg-text mt-5 pt-5">
                                        <h2>Materialize </h2>
                                        <img src="assets/images/Vector (1).png">
                                        <p>A win-win working approach helps to materialize ideas into a great tangible success.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-7 main-flex d-flex">
                                    <div class="slider-block">
                                        <img src="assets/images/slide-1.png">
                                        <h4>Test</h4>
                                        <p>Understand impediments, seek user feedback and use it to improvise your user’s experience.</p>
                                    </div>
                                    <div class="slider-block">
                                        <img src="assets/images/slide-1.png">
                                        <h4>Implement</h4>
                                        <p>Put your vision into action, recognize the synergy and achieve project success.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>





                    </ngx-slick-carousel>

                    <!-- <ul>
                        <li>
                            <img src="assets/images/slide-1.png">
                            <h4>Empathize</h4>
                            <p>Conduct researches, interviews and shadowing customer for better understanding without judging.</p>
                        </li>
                        <li>
                            <img src="assets/images/slide-2.png">
                            <h4>Empathize</h4>
                            <p>Conduct researches, interviews and shadowing customer for better understanding without judging.</p>
                        </li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
</section>