<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-4">
                <div class="banner-text">
                    <h3>Experience the chill of a virtual vacation from your home </h3>
                    <img src="assets/images/Vector (1).png">
                    <p>To manage chaos is to accept the challenges that we witness every day. It is inevitable but we do have the choice to put the chaos back into the trunk and experience the beauty of life from a virtual lens. You can experience a vacation
                        from your home through the use of drone technology.
                    </p>
                    <a href="#">Learn More About US<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="banner-img">
                    <img src="assets/images/banner-img.png">
                    <ul>
                        <li class="item-1 item">
                            <img src="assets/images/2nd.png">
                            <h5>20M+</h5>
                            <p>User Online</p>
                        </li>
                        <li class="item-2 item">
                            <img src="assets/images/2nd.png">
                            <h5>5M+</h5>
                            <p>Visit Tajmahal</p>
                        </li>
                        <li class="item-3 item">
                            <img src="assets/images/2nd.png">
                            <h5>50M+</h5>
                            <p>Destination</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form class="form-inline reservation-horizontal clearfix" role="form" method="post" action="php/reservation.php" name="reservationform" id="reservationform">
                    <!-- Error message -->
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="email" accesskey="E">Type <i class="fa fa-angle-down" aria-hidden="true"></i>                            </label>
                                <input name="email" type="text" id="" value="" class="form-control" placeholder="Where do you want to visit?">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="room">Date<i class="fa fa-angle-down" aria-hidden="true"></i></label>
                                <input name="email" type="text" id="" value="" class="form-control" placeholder="When it will start?">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="checkin">Location <i class="fa fa-angle-down" aria-hidden="true"></i></label>
                                <input name="email" type="text" id="" value="" class="form-control" placeholder="Enter your destinations">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <button type="submit" class="btn btn-primary btn-block">Explore Now</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row banner-logo">
            <div class="col-md-12 text-center logo-heading">
                <p>Join 4,000 + companies already growing</p>

            </div>
            <div class="col-md-12">
                <ul>
                    <li><img src="assets/images/Logo-1.png"></li>
                    <li><img src="assets/images/Logo-2.png"></li>
                    <li><img src="assets/images/Logo-3.png"></li>
                    <li><img src="assets/images/Logo-4.png"></li>
                    <li><img src="assets/images/Logo-5.png"></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-------------Our Key Objectives----------->
<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center main-heading">
                <h1>Our Key Objectives</h1>
                <img src="assets/images/Vector (1).png" class="bg-vector">
                <p>Soft Chaos was built to promote sustainable tourism and bring value to the tourists who<br> want to roam the world in real-time. </p>
            </div>
            <div class="col-md-4 box text-center">
                <img src="assets/images/img1.png">
                <h3>Accessible</h3>
                <p>Available access to various touristic sites through technology. Equal opportunity for travel for everyone</p>
            </div>
            <div class="col-md-4 box text-center">
                <img src="assets/images/img2.png">
                <h3>Easy to use</h3>
                <p>Search, book, and fly easily from your interface.</p>
            </div>
            <div class="col-md-4 box text-center">
                <img src="assets/images/img3.png">
                <h3>Educative</h3>
                <p>Solution enables travelers to learn more about the destination by subscribing to guided tours where they get access to quality information about the place. </p>
            </div>
            <div class="col-md-4 box text-center mt-4">
                <img src="assets/images/img4.png">
                <h3>Support local communities</h3>
                <p>Our solution connects virtual travelers to local service providers. This allows the promotion of local services and contributes to sustainable development. </p>
            </div>
            <div class="col-md-4 box text-center mt-4">
                <img src="assets/images/img5.png">
                <h3>Unique experience</h3>
                <p>Being able to fly on-demand in real-time and schedule a live tour to enable travelers to enjoy immersive experiences. You never know what you’re going to explore during your trip. </p>
            </div>
            <div class="col-md-4 box text-center mt-4">
                <img src="assets/images/img6.png">
                <h3>Collab orative</h3>
                <p>The solution allows travelers to rate destinations, be able to record the trip, and share the recorded footage with their friends and family.</p>
            </div>
        </div>
    </div>
</section>
<!-------------bg section---------->
<section class="bg-section">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="bg-text mt-5 pt-5">
                    <h2>Understand</h2>
                    <img src="assets/images/Vector (1).png">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
                </div>
            </div>
            <div class="col-md-7">
                <div class="bg-slider">
                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">

                        <div ngxSlickItem class="slide">
                            <div class="slider-block">
                                <img src="assets/images/slide-1.png">
                                <h4>Empathize</h4>
                                <p>Conduct researches, interviews and shadowing customer for better understanding without judging.</p>
                            </div>
                        </div>
                        <div ngxSlickItem class="slide">
                            <div class="slider-block">
                                <img src="assets/images/slide-1.png">
                                <h4>Empathize</h4>
                                <p>Conduct researches, interviews and shadowing customer for better understanding without judging.</p>
                            </div>
                        </div>
                        <div ngxSlickItem class="slide">
                            <div class="slider-block">
                                <img src="assets/images/slide-1.png">
                                <h4>Empathize</h4>
                                <p>Conduct researches, interviews and shadowing customer for better understanding without judging.</p>
                            </div>
                        </div>
                        <div ngxSlickItem class="slide">
                            <div class="slider-block">
                                <img src="assets/images/slide-1.png">
                                <h4>Empathize</h4>
                                <p>Conduct researches, interviews and shadowing customer for better understanding without judging.</p>
                            </div>
                        </div>




                    </ngx-slick-carousel>

                    <!-- <ul>
                        <li>
                            <img src="assets/images/slide-1.png">
                            <h4>Empathize</h4>
                            <p>Conduct researches, interviews and shadowing customer for better understanding without judging.</p>
                        </li>
                        <li>
                            <img src="assets/images/slide-2.png">
                            <h4>Empathize</h4>
                            <p>Conduct researches, interviews and shadowing customer for better understanding without judging.</p>
                        </li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
</section>