<section class="join-us">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Careers</h3>
                <p>Our growing team contains technology experts and functional passionate people. We will publish opportunities on this page whenever we have openings.</p>
                <p>You can still upload your CV through this page along with a short description of yourself and we will get back to you. </p>
                <!-- <ul>
                    <li><a href="tel:0235 4568 6568"><i class="fa fa-phone" aria-hidden="true"></i>0235 4568 6568</a></li>
                    <li><a href="mailto:softchaos@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i>softchaos@gmail.com</a></li>
                </ul> -->
            </div>
            <div class="col-md-6">
                <img src="assets/images/join-us.png">
            </div>
        </div>
    </div>
</section>
<section class="join-us-form">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="joinUsForm" (submit)="submit()">
                    <h4>Contact details:</h4>
                    <div class="row">
                        <div class="col">
                            <label>Name</label>
                            <input type="text" [ngClass]="{'input-error': (joinUsForm.controls['name']['invalid'] && joinUsForm.controls['name'].touched )}" formControlName="name" class="form-control" placeholder="Name of contact person" appTextOnly>
                            <div *ngIf="joinUsForm.controls['name'].touched && joinUsForm.controls['name'].invalid" class="error2">
                                <span *ngIf="joinUsForm.controls['name'].hasError('required')">Name is required.</span>
                                <span *ngIf="joinUsForm.controls['name'].hasError('validationError')">{{joinUsForm.controls['name'].errors?.['validationError']}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Title or role</label>
                            <input type="text" [ngClass]="{'input-error': (joinUsForm.controls['title']['invalid'] && joinUsForm.controls['title'].touched )}" formControlName="title" class="form-control" placeholder="Title and role">
                            <div *ngIf="joinUsForm.controls['title'].touched && joinUsForm.controls['title'].invalid" class="error2">
                                <span *ngIf="joinUsForm.controls['title'].hasError('required')">Title or role is required.</span>
                                <span *ngIf="joinUsForm.controls['title'].hasError('validationError')">{{joinUsForm.controls['title'].errors?.['validationError']}}</span>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Email ID</label>
                            <input type="text" [ngClass]="{'input-error': (joinUsForm.controls['email']['invalid'] && joinUsForm.controls['email'].touched )}" formControlName="email" class="form-control" placeholder="Email">
                            <div *ngIf="joinUsForm.controls['email'].touched && joinUsForm.controls['email'].invalid" class="error2">
                                <span *ngIf="joinUsForm.controls['email'].hasError('required')">Email ID is required.</span>
                                <span *ngIf="joinUsForm.controls['email'].hasError('email')">Invalid Email ID.</span>
                                <span *ngIf="joinUsForm.controls['email'].hasError('validationError')">{{joinUsForm.controls['email'].errors?.['validationError']}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Contact Number</label>
                            <input type="number" [ngClass]="{'input-error': (joinUsForm.controls['phone']['invalid'] && joinUsForm.controls['phone'].touched )}" formControlName="phone" class="form-control" placeholder="Contact Number">
                            <div *ngIf="joinUsForm.controls['phone'].touched && joinUsForm.controls['phone'].invalid" class="error2">
                                <span *ngIf="joinUsForm.controls['phone'].hasError('required')">Contact Number is required.</span>
                                <span *ngIf="joinUsForm.controls['phone'].hasError('validationError')">{{joinUsForm.controls['phone'].errors?.['validationError']}}</span>
                            </div>
                        </div>
                    </div>
                    <h4>Organization details:</h4>
                    <div class="row">
                        <div class="col">
                            <label>Current Orginzation</label>
                            <input type="text" [ngClass]="{'input-error': (joinUsForm.controls['current_organization']['invalid'] && joinUsForm.controls['current_organization'].touched )}" formControlName="current_organization" class="form-control" placeholder="Current Orginzation"
                                appTextOnly>
                            <div *ngIf="joinUsForm.controls['current_organization'].touched && joinUsForm.controls['current_organization'].invalid" class="error2">
                                <span *ngIf="joinUsForm.controls['current_organization'].hasError('required')">Current Orginzation is required.</span>
                                <span *ngIf="joinUsForm.controls['current_organization'].hasError('validationError')">{{joinUsForm.controls['current_organization'].errors?.['validationError']}}</span>

                            </div>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col">
                            <label>Role you are seeking</label>
                            <div class="wrapper">
                                <input type="radio" id="option-1" formControlName="seekingRole" value="student">
                                <input type="radio" id="option-2" formControlName="seekingRole" value="teacher">
                                <input type="radio" id="option-3" formControlName="seekingRole" value="instructor">
                                <label for="option-1" class="option option-1">
                                <div class="dot"></div>
                                 <span>Student</span>
                                 </label>
                                <label for="option-2" class="option option-2">
                                <div class="dot"></div>
                                 <span>Teacher</span>
                              </label>
                                <label for="option-3" class="option option-3">
                                <div class="dot"></div>
                                 <span>Instructor</span>
                              </label>
                            </div>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col">
                            <label>Upload documents</label>
                            <ngx-dropzone (change)="onSelect($event)" [multiple]="false">
                                <ngx-dropzone-label>Drop here!</ngx-dropzone-label>
                                <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)" style="max-width: 100% !important;min-width: 100% !important;" class="drop-doc">
                                    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                </ngx-dropzone-preview>
                            </ngx-dropzone>
                            <div *ngIf="fileSubmitted" class="error2">
                                <span *ngIf="!files.length && !joinUsForm.controls['document'].hasError('validationError')">File is required.</span>
                                <span *ngIf="joinUsForm.controls['document'].hasError('validationError')">{{joinUsForm.controls['document'].errors?.['validationError']}}</span>

                            </div>
                            <!-- <div class="upload-dox">
                                <input type="file" id="myFile" name="filename">
                                <img src="assets/images/upload.png">
                                <p>Drag and Drop your file in the area or <span>Browse Filles</span></p>
                            </div> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="submit" [disabled]="this.joinUsForm.invalid">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
