<section class="join-us">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Promote your destination</h3>
                <p>We are continuously looking into adding more locations and supporting more destinations.</p>
                <p> Helps us promote new destinations by filling the below details. Our team will assess the request and we will reach out to you shortly.</p>
                <ul>
                    <li><a href="tel:0235 4568 6568"><i class="fa fa-phone" aria-hidden="true"></i>0235 4568 6568</a></li>
                    <li><a href="mailto:softchaos@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i>softchaos@gmail.com</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <img src="assets/images/join-us.png">
            </div>
        </div>
    </div>
</section>
<section class="join-us-form">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form>
                    <h4>Contact details:</h4>
                    <div class="row">
                      <div class="col">
                          <label>Name of contact person</label>
                        <input type="text" class="form-control" placeholder="Name of contact person">
                      </div>
                    </div>
                    <div class="row">
                        <div class="col">
                          <label>Title and role</label>
                          <input type="text" class="form-control" placeholder="Title and role">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <label>Email</label>
                          <input type="text" class="form-control" placeholder="Email">
                        </div>
                      </div>
                      <h4>Organization details:</h4>
                      <div class="row">
                        <div class="col">
                          <label>Organization industry</label>
                          <input type="text" class="form-control" placeholder="Organization industry">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <label>Role you are seeking</label>
                          <div class="wrapper">
                            <input type="radio" name="select" id="option-1" checked>
                            <input type="radio" name="select" id="option-2">
                            <input type="radio" name="select" id="option-3">
                              <label for="option-1" class="option option-1">
                                <div class="dot"></div>
                                 <span>Student</span>
                                 </label>
                              <label for="option-2" class="option option-2">
                                <div class="dot"></div>
                                 <span>Teacher</span>
                              </label>
                              <label for="option-3" class="option option-3">
                                <div class="dot"></div>
                                 <span>Teacher</span>
                              </label>
                           </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <label>Email</label>
                          <div class="upload-dox">
                            <input type="file" id="myFile" name="filename">
                            <img src="assets/images/upload.png">
                            <p>Drag and Drop your file in the area or <span>Browse Filles</span></p>
                        </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <button type="submit">Send</button>
                        </div>
                      </div>
                  </form>
            </div>
        </div>
    </div>
</section>