<section class="booking-flow-baar">
    <div class="container">
        <ul class="progressbar">
          <li class="active">Order Details</li>
          <li>About you</li>
          <li>Payment</li>
          <li>Confirm</li>
        </ul>
<hr>
        <div class="row">
            <div class="col-md-8">
                <div class="booking-form">
                    <div class="row">
                        <div class="col-md-6 t-left">
                            <h5>Select Date</h5>
                        </div>
                        <div class="col-md-6 t-right">
                            <select>
                                <option>Jun 2022</option>
                                <option>July 2022</option>
                                <option>August 2022</option>
                            </select>
                        </div>
                    </div>
                    <ul class="weekly">
                        <li class="active"><a href="javascript:void(0);">Today</a></li>
                        <li><a href="javascript:void(0);"><span>THR</span><strong>02</strong></a></li>
                        <li><a href="javascript:void(0);"><span>FRI</span><strong>03</strong></a></li>
                        <li><a href="javascript:void(0);"><span>SAT</span><strong>04</strong></a></li>
                        <li><a href="javascript:void(0);"><span>SUN</span><strong>05</strong></a></li>
                        <li><a href="javascript:void(0);"><span>MON</span><strong>06</strong></a></li>
                        <a href="javascript:void(0);" class="right_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </ul>
                    <hr>
                    <h5 class="form_heading">Select Time</h5>
                    <ul class="time">
                        <li><a href="javascript:void(0);">Today</a></li>
                        <li><a href="javascript:void(0);">08 - 09 AM</a></li>
                        <li class="active"><a href="javascript:void(0);">10 - 11 AM</a></li>
                        <li><a href="javascript:void(0);">11 - 12 AM</a></li>
                        <li><a href="javascript:void(0);">04 - 06 PM</a></li>
                        <li><a href="javascript:void(0);">05 - 06 PM</a></li>
                        <li><a href="javascript:void(0);">11 - 12 AM</a></li>
                    </ul>
                    <ul class="next-btn">
                        <li><a href="javascript:void(0);">Next</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <h5>Order Summary</h5>
                    <img src="assets/images/g3.png">
                    <h4>Taj Mahal - India</h4>
                    <p>Safari</p>
                    <ul>
                        <li>Taj Mahal - India (safari) <span>$ 22.00</span></li>
                        <li>Discount <span>$ 0.00</span></li>
                        <li>Total <strong>$22.00</strong></li>
                        <li class="apply-coupne"><a href="javascript:void(0);">Apply Promocode</a></li>
                    </ul>
                </div>
            </div>
        </div>

      </div>
</section>

<!------step 2----->
<section class="booking-flow-baar">
    <div class="container">

        <div class="row">
            <div class="col-md-8">
                <div class="booking-form">
                    <h5>Contact Information</h5>
                    <form>
                        <div class="form-row">
                          <div class="col">
                              <label>First Name</label>
                            <input type="text" class="form-control" placeholder="Enatr your first name">
                          </div>
                          <div class="col">
                              <label>Last Name</label>
                            <input type="text" class="form-control" placeholder="Enatr your last name">
                          </div>
                        </div>
                        
                        <div class="form-row">
                            <div class="col">
                                <label>Contact Number</label>
                              <input type="text" class="form-control" placeholder="989-8256-234">
                            </div>
                            <div class="col">
                                <label>Email</label>
                              <input type="text" class="form-control" placeholder="Enatr your email">
                            </div>
                          </div>
                          <h5>Your Location</h5>
                          <div class="form-row loaction-input">
                            <div class="col">
                                <label>Address</label>
                                <input type="text" class="form-control" placeholder="124 City Road, London, EC1V 2NX">
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="col">
                                <label>Country</label>
                                <select>
                                    <option>Enter your country</option>
                                    <option>Enter your country</option>
                                    <option>Enter your country</option>
                                    <option>Enter your country</option>
                                </select>
                            </div>
                            <div class="col">
                                <label>CIty</label>
                                <select>
                                    <option>Enter your city</option>
                                    <option>Enter your city</option>
                                    <option>Enter your city</option>
                                    <option>Enter your city</option>
                                </select>
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="col">
                                <label>Region</label>
                                <select>
                                    <option>Enter your region</option>
                                    <option>Enter your region</option>
                                    <option>Enter your region</option>
                                    <option>Enter your region</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row mt-3">
                            <div class="col">
                                <ul class="next-btn">
                                    <li class="back-btn"><a href="javascript:void(0);">Back</a></li>
                                    <li><a href="javascript:void(0);">Next</a></li>
                                </ul>
                            </div>
                        </div>
                        
                      </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <h5>Order Summary</h5>
                    <img src="assets/images/g3.png">
                    <h4>Taj Mahal - India</h4>
                    <p>Safari</p>
                    <ul>
                        <li>Taj Mahal - India (safari) <span>$ 22.00</span></li>
                        <li>Discount <span>$ 0.00</span></li>
                        <li>Total <strong>$22.00</strong></li>
                        <li class="apply-coupne"><a href="javascript:void(0);">Apply Promocode</a></li>
                    </ul>
                </div>
            </div>
        </div>

      </div>
</section>

<!---------step-3---------->
<section class="booking-flow-baar">
    <div class="container">

        <div class="row">
            <div class="col-md-8">
                <div class="booking-form">
                    <h5>Payment Details</h5>
                    <p>Enter your personal details to complete your viewing.</p>
                    <form>
                        <div class="form-row card-section">
                          <div class="col">
                              <a href="javascript:void(0);"  class="active">
                                <i class="fa fa-credit-card" aria-hidden="true"></i>
                                <span>Cards</span>
                              </a>
                          </div>
                          <div class="col">
                            <a href="javascript:void(0);">
                                <i class="fa fa-paypal" aria-hidden="true"></i>
                                <span>PayPal</span>
                              </a>
                        </div>
                        </div>
                        <div class="form-row card-number">
                            <div class="col">
                                <label>Card Number</label>
                                <input type="text" class="form-control" placeholder="9898  8256  4586  4558">
                                <i class="fa fa-cc-visa" aria-hidden="true"></i>
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="col">
                                <label>Card holder Name</label>
                                <input type="text" class="form-control" placeholder="Enatr your name">
                            </div>
                          </div>
                        <div class="form-row">
                            <div class="col">
                                <label>Expiry</label>
                              <input type="text" class="form-control" placeholder="Enatr card expiry date">
                            </div>
                            <div class="col">
                                <label>CVC/CVV</label>
                              <input type="text" class="form-control" placeholder="Enatr card CVC/CVV">
                            </div>
                          </div>
                          <small>By confirming payment you are approving our Terms & Conditions and acknowledging our Privacy Policy.
                            Your Payment information and test information will remain Confidential.</small>
                        <div class="form-row mt-3">
                            <div class="col">
                                <ul class="next-btn">
                                    <li class="back-btn"><a href="javascript:void(0);">Back</a></li>
                                    <li><a href="javascript:void(0);">Confirm Payment</a></li>
                                </ul>
                            </div>
                        </div>
                        
                      </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <h5>Order Summary</h5>
                    <img src="assets/images/g3.png">
                    <h4>Taj Mahal - India</h4>
                    <p>Safari</p>
                    <ul>
                        <li>Taj Mahal - India (safari) <span>$ 22.00</span></li>
                        <li>Discount <span>$ 0.00</span></li>
                        <li>Total <strong>$22.00</strong></li>
                        <li class="apply-coupne"><a href="javascript:void(0);">Apply Promocode</a></li>
                    </ul>
                </div>
            </div>
        </div>

      </div>
</section>

<!--------step-4-------->
<section class="pay-confirm-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="confirm-box">
                    <img src="assets/images/mail.png">
                    <h3>Thank you for Booking!</h3>
                    <p>Your booking for the Safari Taj Mahal is confirmed. Please check your email more details.</p>
                    <a href="#">Download PDF</a>
                </div>
            </div>
        </div>
    </div>
</section>